<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}One 'n' Dun{% endblock %}</title>
		<link rel="stylesheet" href="css/themes/sunswick-colors.min.css" />
		<link rel="stylesheet" href="css/jquery.mobile.structure-1.3.1.min.css" />
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
		{% block style %}

		{% endblock %}

		

		<script src="js/jquery-1.9.1.js"></script>
		<script src="js/jquery.mobile-1.3.1.min.js"></script>
		{% block script %}

		{% endblock %}
	</head>

	<body>
		{% block content %}
		<div data-role="page" id="one">

			<div data-role="header">
				<h1>One 'n Dun</h1>
			</div><!-- /header -->

			<div data-role="content" >
				<h2>One</h2>

				<p>
					This is where we'll get all authorized for this shit!
				</p>

				<h3>Authorize Here:</h3>
				<p>
					<a href="{{url}}" data-role="button" data-ajax="false">Get Authorized!</a>
				</p>
				
			</div>

			<div data-role="footer" data-theme="d">
				<h4>One 'n Dun</h4>
			</div><!-- /footer -->
		</div><!-- /page one -->

		
		{% endblock %}
	</body>
</html>